@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*  Noir : #000
    Blanc : #fff
    Rose : #f9e6e0 */

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: red;
    color: black;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    padding: 0 2.5%;
}

header h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.2rem;
    margin-bottom: 0.4rem;
}

header p {
    font-size: 1.1rem;
}

header img {
    max-width: 120px;
}

section {
    margin: 0 auto;
}

.section-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#about {
    min-height: 1fr;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "pic1 txt pic2"
    ;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#about img {
    height: 500px;
    border-radius: 5px;
}

.pic1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services{
    display: grid;
    gap: 0.1rem 0.1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "mariages mariages mariages bebes bebes bebes"
        "mariages mariages mariages bebes bebes bebes"
        "famille famille famille events events art"
        "famille famille famille events events art"
    ;
}

.mariages {
    background-image: url("../media/pexels-asad-photo-maldives-1024993.jpg");
    background-size: cover;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.contact-info {
    align-self: first baseline;
}

.map {
    border-radius: 5px;
    align-self: last baseline;
}

hr {
    border: none;
    border-top: 3px double;
    overflow: visible;
    text-align: center;
    color: gray;
    width: 50rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: 'Lato', sans-serif;
}